IndentWidth: 4
ColumnLimit: 110
UseTab: Never
LineEnding: LF
BreakBeforeBraces: Attach
AlignConsecutiveAssignments: true
AlignTrailingComments: true
AlignAfterOpenBracket: BlockIndent
AlignOperands: AlignAfterOperator
